@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");

$body-font: 'Rubik', sans-serif;  
$number-font: 'Cousine', monospace;

*{
  font-family: $body-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

.instructions {
  color: #fa903e;
  margin-bottom: 10px;
}


svg{
  border: 20px solid #181818;
  background-color: #212121;
  /*background-image: linear-gradient(180deg, #212121, #000000);*/
  border-radius: 20px;
}

.slider{
  appearance: none;
  outline: none;
  position: relative;
  width: 200px;
  height: 20px;
  background-color: #181818;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.slider::-webkit-slider-thumb{
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fa903e;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fa903e;
  border-radius: 5px;
}